.coefficients {
	width: 100%;
	height: 100vh;
	padding: 10px 15px;
	background: linear-gradient(90deg, rgb(21, 16, 40) 0%, rgb(21, 16, 40) 100%);
}

.title {
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	padding: 15px 0px;
	padding-bottom: 8px;
}

.coefficientsWrapper {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	margin: 0 auto;

	&::-webkit-scrollbar {
		display: none;
	}
}

.coefficient {
	width: 62px;
	max-width: 62px;
	height: 26px;
	display: grid;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	// font-family: Manrope;
	font-style: normal;
	font-weight: 600;
	font-size: 11px;
	line-height: 12px;
	color: rgb(250, 250, 250);
	border-radius: 7px;
	margin: 2px;

	float: left;
}
